/* font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif; */

/* important reusable classes */
/* 
	fade: simply make element
	center: align item center
	hide: shift element towards right out of view
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.fade {
	opacity: 0;
	transition: 0.3s ease-in-out;
	transition-duration: 0.3s;
}
.hide {
  transform: translateX(100vw);
  transition: 0.5 ease-in-out;
}
input:focus {
	outline: none;
}
html {
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  min-height: 100%;
}
::selection {
  color: #fff;
  background: #000;
}
li {
  list-style: none;
}

label {
  font-size: 70%;
  color: #616161;
}

section {
	background-color: #fff;
	min-height: 100vh;
	z-index: 102;
	position: relative;
	overflow: hidden;
}
.cursor {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #000000;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-out;
  z-index: 9999;
}
.cursor-invert {
  transform: translate(-50%, -50%) scale(5);
  background: #fff;
  mix-blend-mode: difference;
}
.cursor-move {
  transform: translate(-50%, -50%) scale(1);
}
.animate-cursor {
  transform: translate(-50%, -50%) scale(5);
}

.on-logo {
  transform: translate(250%, 250%) scale(20);
  background-image: url(../assets/img/gaurav.png);
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.on-name {
  transform: translate(250%, 250%) scale(20);
  background-image: url(../assets/img/civil\ fresher1.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

img {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-position: center;
}
li a {
  color: black;
}
li a:hover {
  color: black;
  text-decoration: none;
}

.on-img {
  transform: translate(-50%, -50%) scale(4);
  opacity: 0.6;
  background-color: darkgoldenrod;
}
.on-cross {
  transform: translate(-50%, -50%) scale(6);
  transform-origin: center;
  background: #fff;
  mix-blend-mode: difference;
}

.about-img {
  margin: 0 auto;
  background-image: url(../assets/img/civil\ fresher1.jpg);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/* header part starts here */

header {
  position: fixed;
  top: 0;
  width: 101vw;
  height: 15vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 999;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0 0 rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.95) rgba(1, 1, 1, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
}

header div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo {
  position: absolute;
  left: 4%;
  transform: translateY(-50%);
}
.brand {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
}
nav {
  width: 100%;
  height: 100%;
}
.nav-links {
  position: fixed;
  /* transform: translateY(100vh); */
  z-index: 9998;
  top: 5vh;
  right: 10%;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}
.project-link,
.manu-link {
  margin-left: 15%;
  transition-duration: 0.5s;
}

/* hamburger */
.hamburger {
  transform: translateY(-50%);
  position: fixed;
  width: 2rem;
  height: 1.2rem;
  right: 4%;
  top: 7.5vh;
  cursor: pointer;
  z-index: 9998;
  transition: 0.5s ease-in-out;
}

.span {
  position: absolute;
  width: 2rem;
  height: 0.1rem;
  background-color: #000;
  transition: 0.5s ease-out;
}
.hamburger div:nth-child(1) {
  top: 0px;
}
.hamburger div:nth-child(2) {
  top: 0.55rem;
}
.hamburger div:nth-child(3) {
  bottom: 0px;
}
.slide {
  transform: translateX(1rem) scale(0);
  transition: 0.5s ease-out;
}

.cross-down {
  width: 2rem;
  transform: translateX(-0.6rem) rotate(-45deg) translate(0rem, 0.8rem)
    scale(0.9);
  /* transform-origin: top left; */
}
.cross-up {
  width: 2rem;
  transform: translateX(-0.6rem) rotate(45deg) translate(0rem, -0.8rem)
    scale(0.9);
  /* transform-origin: bottom left; */
}

/* main section */

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
  animation: fadeinx;
  animation-play-state: paused;
  animation-delay: 2.5s;
  animation-duration: 1s;
}

.main-page-content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 100%;
  /* height: 100vh; */
  position: relative;
  padding-left: 10%;
  padding-right: 20%;
  font-size: 1.4rem;
  z-index: 1000;
  /* padding-top: 100px; */
}

.see-more {
  font-size: 1rem;
  width: 10rem;
  z-index: 1000;
  color: #000000;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 50px;
  /* transform: translateY(-50%); */
  margin-left: 10%;
  margin-top: 1%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more:focus {
  outline: none;
}
.see-more:hover {
  background-color: #000000;
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.b {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.blocks {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
  /* display: inline-block; */
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.blocks div {
  background-color: rgb(65, 65, 65);
  height: 100vh;
  transition: background-color 1s;
  overflow: hidden;
}
/* .loder {
    position: absolute;
    width: 150vw;   
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.loder-0 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(-30%, -90%);
    transition-delay: 400ms;
    transition: 0.5s ease-in-out;
}
.loder-1 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(80%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 600ms;
}

.loder-2 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(190%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 800ms;
}
.loder-3 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(300%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1000ms;
}
.loder-4 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(410%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1200ms;
}
.loder-5 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(520%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1400ms;
}

@media (max-width: 800px) {
    .loder-0 { transform: scale(2) rotate(50deg) translate(-30%, -70%);}
    .loder-1 { transform: scale(2) rotate(50deg) translate(80%, -70%); }
    .loder-2 { transform: scale(2) rotate(50deg) translate(190%, -70%); }
    .loder-3 { transform: scale(2) rotate(50deg) translate(300%, -70%);}
    .loder-4 { transform: scale(2) rotate(50deg) translate(410%, -70%);}
    .loder-5 { transform: scale(2) rotate(50deg) translate(520%, -70%);}
} */

.goku-img {
  width: 15rem;
  opacity: 0.3;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 103;
  transform: translateX(-50%);
  transform: translateY(350%);
}

.project-content {
  font-size: 0.8rem;
  margin-top: 2%;
  padding-left: 10px;
  color: #747474;
}
.project-img {
  overflow: hidden;
  color: #fff;
  height: auto;
  background-position: center;
  background-size: cover;
}
.project-title {
  position: absolute;
  pointer-events: none;
  top: 30%;
  left: 10%;
  transform: scale(1) translateY(-50%);
  transition: 0.3s ease-in-out;
  transition-duration: 0.3s;
}
.card {
  margin-bottom: 20px;
  border: none !important;
  box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
  border-radius: 0 !important;
}
.card:hover {
  /* border: 1px solid #000000; */
  box-shadow: 1px 1px 5px 5px rgba(150, 150, 150, 0.1);
  /* box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1); */
}
.tech {
  margin-top: 2%;
  padding-left: 10px;
}
.tech span {
  opacity: 0.8;
  font-size: 0.5rem;
  padding: 5px 10px;
  border-radius: 5px;
}
.img1 {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.img2 {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img3 {
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img4 {
  background-image: #0f2027; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project-img img {
  opacity: 0.2;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.project-img img:hover {
  opacity: 0.9;
  color: #000;
  transform: scale(1);
}

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-me::after {
    display: block;
    height: 2px;
    background-color: #000000;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.resume {
	font-weight: 400;
}

.resume:hover {
	color: #000000;
	text-decoration: none;
}

.link-to-projects:hover {
	text-decoration: none;
	color: #000000;
	margin-right: 100px;
}


/* contact form */
.contact-me {
	background-color: #fff;
	min-height: 50vh;
	z-index: 102;
	position: relative;
	overflow: hidden;
	padding: 5rem 0;
}

.contact-me * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* contact form button animation */

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	width: 10rem;
	z-index: 1000;
	background-color: transparent;
	border: 1px solid #979797;
	border-radius: 50px !important;
	/* transform: translateX(25%); */
	/* margin-left: 30%; */
	/* margin-top: 1%; */
	padding: 10px 5px;
}

.button:focus {
  outline: none;
}
.button:hover {
  background-color: #000000;
  color: #fff;
  transition: 0.2s ease-in-out;
}

form input {
	border: 0;
	width: 150%;
	border-bottom: 1px solid #000000;
	margin: 5%;
	/* transform: translateX(-20%); */
}

.footer-cover {
	width: 100%;
	height: 50vh;
	pointer-events: none;
	background: transparent;
}
footer {
	background-color: #000000;
	width: 100%;
	height: 50vh;
	position: fixed;
	left: 0;
	opacity: 0;
	bottom: 0;
	z-index: 1;
}
footer * {
	color: #fff !important;
}
.footer-links {
	margin-top: 5rem;
	margin-bottom: 1.5rem	;
}
.footer-links-link a {
	margin-right: 5%;
	font-weight: lighter;
}
.footer-links-icon svg {
	margin-right: 5%;
}
.footer-links-link a:hover {
	text-decoration: none;
}
svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #383838;
  opacity: 1;
}

.tag {
	position: absolute;
	bottom: 10%;
	opacity: 0.5;
	letter-spacing: 1.5px;
	font-weight: lighter;
	font-size: 0.8rem;
}

.twitter:hover, .instagram:hover, .facebook:hover, .github:hover, .linkedin:hover {
	fill: #55acee;
}

.submit-message {
  position: absolute;
  transform: translateX(-200%);
  display: none;
  transition: 0.5s ease-in-out;
}