.section-title {
  margin-top: 5rem;
  color: #000;
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif; */
/* important reusable classes */
/* 
	fade: simply make element
	center: align item center
	hide: shift element towards right out of view
*/
@font-face {
  font-family: font_for_logo;
  src: url(../../fonts/Aerotis.otf);
}

@font-face {
  font-family: averta_bold;
  src: url(../../fonts/AvertaCY-Bold.ttf);
}

@font-face {
  font-family: averta_regular;
  src: url(../../fonts/AvertaCY-Regular.woff2);
}

@font-face {
  font-family: averta_light;
  src: url(../../fonts/AvertaCY-Light.woff2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center {
  text-align: center;
}

.fade {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.hide {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
}

input:focus {
  outline: none;
}

html {
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  min-height: 100%;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

li {
  list-style: none;
}

label {
  font-size: 70%;
  color: #616161;
}

section {
  background-color: #fff;
  /* min-height: 100vh; */
  z-index: 102;
  position: relative;
  overflow: hidden;
}

.cursor {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #000000;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 9999;
}

.cursor-invert {
  -webkit-transform: translate(-50%, -50%) scale(5);
          transform: translate(-50%, -50%) scale(5);
  background: #fff;
  mix-blend-mode: difference;
}

.cursor-move {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.animate-cursor {
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}

.on-logo {
  -webkit-transform: translate(250%, 250%) scale(20);
          transform: translate(250%, 250%) scale(20);
  background-image: url(../../img/gaurav.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.on-name {
  -webkit-transform: translate(250%, 250%) scale(20);
          transform: translate(250%, 250%) scale(20);
  background-image: url(../../img/civil_fresher.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

img {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-position: center;
}

li a {
  color: black;
}

li a:hover {
  color: black;
  text-decoration: none;
}

.on-img {
  -webkit-transform: translate(-50%, -50%) scale(4);
          transform: translate(-50%, -50%) scale(4);
  opacity: 0.6;
  background-color: darkgoldenrod;
}

.on-cross {
  -webkit-transform: translate(-50%, -50%) scale(8);
          transform: translate(-50%, -50%) scale(8);
  -webkit-transform-origin: center;
          transform-origin: center;
  background: #fff;
  mix-blend-mode: difference;
}

.about-img {
  margin: 0 auto;
  background-image: url(../../img/civil_fresher.jpg);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

/* header part starts here */
header {
  position: fixed;
  top: 0;
  width: 105vw;
  height: 15vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 999;
  background-color: #fff;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.95) rgba(1, 1, 1, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  position: absolute;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.brand {
  font-family: font_for_logo;
  font-size: 2rem;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
}

.nav-links {
  position: fixed;
  z-index: 9998;
  top: 7.5vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-link,
.manu-link {
  margin-left: 15%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* hamburger */
.hamburger {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: fixed;
  width: 2rem;
  height: 1.2rem;
  right: 4%;
  top: 7.5vh;
  cursor: pointer;
  z-index: 9998;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.span {
  position: absolute;
  width: 2rem;
  height: 0.1rem;
  background-color: #000;
  -webkit-transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
  transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
}

.hamburger div:nth-child(1) {
  top: 0px;
}

.hamburger div:nth-child(2) {
  top: 0.55rem;
}

.hamburger div:nth-child(3) {
  bottom: 0px;
}

.slide {
  -webkit-transform: translateX(1rem) scale(0);
          transform: translateX(1rem) scale(0);
  -webkit-transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
  transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
}

.cross-down {
  width: 2rem;
  -webkit-transform: translateX(-0.6rem) rotate(-45deg) translate(0rem, 0.8rem) scale(0.9);
          transform: translateX(-0.6rem) rotate(-45deg) translate(0rem, 0.8rem) scale(0.9);
  /* transform-origin: top left; */
}

.cross-up {
  width: 2rem;
  -webkit-transform: translateX(-0.6rem) rotate(45deg) translate(0rem, -0.8rem) scale(0.9);
          transform: translateX(-0.6rem) rotate(45deg) translate(0rem, -0.8rem) scale(0.9);
  /* transform-origin: bottom left; */
}

/* main section */
.main-page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-animation: fadeinx;
          animation: fadeinx;
  pointer-events: none;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.my-name {
  border-left: 2px solid #000000;
  padding-left: 10px;
  pointer-events: all;
}

.main-page-content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 100%;
  /* height: 100vh; */
  position: relative;
  padding-left: 10%;
  padding-right: 20%;
  font-size: 1.4rem;
  z-index: 1000;
  padding-top: 50px;
}

.see-more {
  font-size: 1rem;
  width: 10rem;
  z-index: 1000;
  color: #000000;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 50px;
  pointer-events: all;
  /* transform: translateY(-50%); */
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 50px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.see-more:focus {
  outline: none;
}

.see-more:hover {
  background-color: #000000;
  text-decoration: none;
  border: 1px solid #000;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.b {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.blocks {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
  /* display: inline-block; */
  pointer-events: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
}

.blocks div {
  background-color: #414141;
  height: 100vh;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  overflow: hidden;
  -webkit-animation: updown;
          animation: updown;
  /* pointer-events: none; */
  /* animation-play-state: paused; */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-iteration-count: 14;
          animation-iteration-count: 14;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.blocks div:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.blocks div:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.blocks div:nth-child(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.blocks div:nth-child(4) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.blocks div:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.blocks div:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.blocks div:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.blocks div:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.blocks div:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.blocks div:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/* .blocks div:hover {
  animation-play-state: paused;
} */
/* .loder {
    position: absolute;
    width: 150vw;   
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.loder-0 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(-30%, -90%);
    transition-delay: 400ms;
    transition: 0.5s ease-in-out;
}
.loder-1 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(80%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 600ms;
}

.loder-2 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(190%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 800ms;
}
.loder-3 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(300%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1000ms;
}
.loder-4 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(410%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1200ms;
}
.loder-5 {
    position: absolute;
    background-color: rgba(197, 197, 197, 0.1);
    width: 5%;
    margin-right: 10%;
    height: 100vh;
    transform: scale(2) rotate(50deg) translate(520%, -90%);
    transition: 0.5s ease-in-out;
    transition-delay: 1400ms;
}

@media (max-width: 800px) {
    .loder-0 { transform: scale(2) rotate(50deg) translate(-30%, -70%);}
    .loder-1 { transform: scale(2) rotate(50deg) translate(80%, -70%); }
    .loder-2 { transform: scale(2) rotate(50deg) translate(190%, -70%); }
    .loder-3 { transform: scale(2) rotate(50deg) translate(300%, -70%);}
    .loder-4 { transform: scale(2) rotate(50deg) translate(410%, -70%);}
    .loder-5 { transform: scale(2) rotate(50deg) translate(520%, -70%);}
} */
.project-details {
  margin: 10px 20px;
  font-size: 0.8rem;
  font-family: averta_light;
}

.project-content {
  font-size: 0.8rem;
  margin-top: 2%;
  margin-bottom: 10px;
}

.project-img {
  overflow: hidden;
  color: #fff;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  height: auto;
  background-position: center;
  background-size: cover;
}

.magnification_container {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.maginify_img {
  width: 80%;
  height: auto;
}

.project-title {
  position: absolute;
  pointer-events: none;
  top: 30%;
  left: 10%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.card {
  margin-bottom: 50px;
  border: none !important;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 26.91px; */
  /* box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1); */
  cursor: pointer;
  border-radius: 0 !important;
}

.card:hover {
  -webkit-transform: translateY(-10px) !important;
          transform: translateY(-10px) !important;
}

.project-toggle-links {
  padding: 20px 0;
}

.project-toggle-links a {
  margin-right: 10px;
  font-size: 0.8rem;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid #000000;
}

.project-toggle-links a:focus {
  outline: none;
}

.project-toggle-links a:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tech {
  padding-bottom: 10px;
}

.tech span {
  opacity: 0.8;
  font-size: 0.5rem;
  font-family: averta_bold;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.img1 {
  background: #3c3b3f;
  background: -webkit-gradient(linear, right top, left top, from(#605c3c), to(#3c3b3f));
  background: linear-gradient(to left, #605c3c, #3c3b3f);
}

.img2 {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
  background: linear-gradient(to top, #434343, #000000);
}

.img3 {
  background: #42275a;
  background: -webkit-gradient(linear, right top, left top, from(#734b6d), to(#42275a));
  background: linear-gradient(to left, #734b6d, #42275a);
}

.img4 {
  background-image: #0f2027;
  background-image: -webkit-gradient(linear, left top, right top, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.img5 {
  background: #0F2027;
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.img6 {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
  background: linear-gradient(to top, #434343, #000000);
}

.img6 img,
.img5 img {
  opacity: 0.3 !important;
}

.project-img img {
  opacity: 0.2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.project-img img:hover {
  opacity: 1 !important;
  color: #000;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.about-me {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me::after {
  display: block;
  height: 2px;
  background-color: #000000;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.resume {
  font-weight: 400;
}

.resume:hover {
  color: #000000;
  text-decoration: none;
}

.link-to-projects:hover {
  text-decoration: none;
  color: #000000;
}

/* contact form */
.contact-me {
  background-color: #fff;
  min-height: 50vh;
  z-index: 102;
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.contact-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-img img {
  width: 90%;
  height: auto;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

/* 
.contact-me * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */
/* contact form button animation */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  width: 10rem;
  z-index: 1000;
  background-color: #000000;
  color: #fff;
  /* background-color: transparent; */
  border: 1px solid #000000;
  /* border-radius: 50px !important; */
  /* transform: translateX(25%); */
  /* margin-left: 30%; */
  /* margin-top: 1%; */
  padding: 10px 5px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: transparent;
  border: 1px solid #000000;
  /* background-color: #000000; */
  color: #000000;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

form input {
  /* border: 0; */
  width: 100%;
  border: 1px solid #979797;
  padding: 5px 10px;
  /* margin: 5% 0; */
  /* transform: translateX(-20%); */
}

textarea {
  width: 100%;
  border-radius: 0;
  border: 1px solid #979797;
  padding: 5px 10px;
}

form input:focus {
  border: 1px solid #000000;
}

.footer-cover {
  width: 100%;
  height: 50vh;
  pointer-events: none;
  background: transparent;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 50vh;
  position: fixed;
  left: 0;
  opacity: 0;
  pointer-events: none;
  bottom: 0;
  z-index: 1;
}

footer * {
  color: #fff !important;
}

.footer-links {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.footer-links-link a {
  margin-right: 5%;
  font-weight: lighter;
}

.footer-links-icon svg {
  margin-right: 5%;
}

.footer-links-link a:hover {
  text-decoration: none;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #383838;
  opacity: 1;
}

.tag {
  position: absolute;
  bottom: 10%;
  opacity: 0.5;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-size: 0.8rem;
}

.twitter:hover,
.instagram:hover,
.facebook:hover,
.github:hover,
.linkedin:hover,
.youtube:hover {
  fill: #55acee;
}

.submit-message {
  position: absolute;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.dropbtn {
  background-color: #ffffff00;
  border: none;
  font-size: 2rem;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  place-items: center;
  background-color: white;
  -webkit-transform: translate(-25%, -100%) scale(0);
          transform: translate(-25%, -100%) scale(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  padding: 10px 40px;
  -webkit-box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
  transition: 0.5s cubic-bezier(0.1, 1.31, 0.61, 1.18);
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  text-decoration: none;
  display: block;
  padding: 5px 40px;
  margin: 10px auto !important;
  font-size: 1rem !important;
}

.dropdown:hover .dropdown-content {
  -webkit-transform: translate(-25%, -100%) scale(1);
          transform: translate(-25%, -100%) scale(1);
}

@media (max-width: 1300px) {
  .nav-links {
    right: 12%;
  }
}

@media (max-width: 1000px) {
  .slider {
    width: 80% !important;
    top: 0 !important;
    right: -100% !important;
  }
}

@media (max-width: 850px) {
  .slider {
    width: 90% !important;
    top: 0 !important;
    right: -100% !important;
  }
  .nav-links {
    right: 15%;
  }
  .social {
    margin-left: 10%;
    margin-top: 0%;
  }
  .side-social {
    display: none !important;
  }
}

@media (max-width: 650px) {
  .slider {
    width: 100% !important;
    top: 0 !important;
    right: -100% !important;
  }
  .nav-links {
    right: 20%;
  }
  .project-link {
    visibility: hidden;
  }
}

.full-slider {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1010;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.show-slider {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.show-full-slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.stop-scroll {
  overflow: hidden;
}

.slider {
  position: fixed;
  top: 0;
  right: 0;
  width: 55%;
  right: -60%;
  background-color: #ffffff;
  min-height: 100vh;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.social-links {
  /* width: 30%; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.social-links ul li a {
  /* height: 50px; */
  font-size: 0.7rem;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manu {
  /* width: 60%; */
  margin-top: 10%;
}

.manu ul li a {
  /* height: 50px; */
  font-size: 2rem;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email {
  font-size: 0.7rem;
  width: 100%;
  margin-top: 5%;
  margin-left: 10%;
}

.social {
  width: 100%;
  padding-right: 4rem;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin-top: 5%;
}

.social svg {
  margin-right: 3%;
}

/* side-social starts */
.side-social {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  right: 4%;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.side-social-hide {
  top: 120%;
}

.side-social a {
  margin: 10px auto;
}

.side-social a svg {
  fill: #888888;
}

.side-social::after {
  content: " ";
  position: absolute;
  bottom: -500px;
  left: 50%;
  display: block;
  width: 2px;
  height: 500px;
  background-color: #888888;
}

/* main section */
@media (max-width: 480px) {
  .logo {
    left: 8%;
  }
  .brand {
    font-size: 1.5rem;
  }
  .manu-link {
    visibility: hidden;
  }
  .hamburger {
    right: 8%;
  }
  .main-page-content {
    font-size: 1.1rem;
    margin-top: 20% !important;
  }
  .see-more {
    margin-top: 5%;
  }
  .blocks {
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
  #projects {
    background-color: #fbfbfb;
  }
  .card {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  }
  .card:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
  }
  .project-content {
    font-size: 0.6rem;
  }
  .project-title {
    left: 5%;
  }
  .link-to-projects svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .about-content {
    font-size: 15px;
  }
  .about-me {
    padding-top: 100px;
  }
  .on-cross {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  .contact-img {
    padding-top: 2rem;
  }
  .contact-img img {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  form input {
    width: 100%;
  }
  .footer-links {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
  .footer-links-link {
    margin-bottom: 20px;
  }
  .footer-links-link a {
    margin-right: 2%;
  }
  .footer-links-icon svg {
    margin-right: 5%;
  }
  .tag {
    font-size: 0.7rem;
  }
}

@-webkit-keyframes fadeinx {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fadeinx {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  /* 100% {
        transform: translateX(0px);
    } */
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  /* 100% {
        transform: translateX(0px);
    } */
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
/*# sourceMappingURL=style.css.map */